server {
  listen 80 default_server;
  server_name _;

  rewrite ^/(tt[0-9]+)/(.*) /file/${BACKBLAZE_MOVIE_BUCKET}/$1/$2 last;

  location / {
    auth_basic "Private Area";
    auth_basic_user_file /etc/nginx/s3strm_passwd;
    proxy_set_header Authorization "${ACCOUNT_AUTHORIZATION_TOKEN}";
    proxy_pass ${API_URL};
  }
}
