server {
  listen 80 default_server;
  server_name _;

  auth_basic "Private Area";
  auth_basic_user_file /etc/nginx/s3strm_passwd;

  rewrite ^/(tt[0-9]+)/(.*) ${API_URL}/file/${BACKBLAZE_MOVIE_BUCKET}/$1/$2?Authorization=${ACCOUNT_AUTHORIZATION_TOKEN} last;
  rewrite ^/library.tar.bz2$ /usr/local/src/worker-instance/kodi/library.tar.bz2;
}
